# Arquivos compilados (Maven)
target/
*.class
*.jar
*.war
*.ear

# Arquivos de IDEs
.idea/
*.iml
*.iws
.vscode/
*.classpath
*.project
*.settings/

# Arquivos de sistema e logs
*.log
.DS_Store
Thumbs.db